<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Indexes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite-locations">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved-locations">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Annotated</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recent-locations">
      <ion-icon name="time"></ion-icon>
      <ion-label>Recent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="open-eo">
      <img src="/assets/openeo_logo.png" class="openeo-tab-logo" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
